<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="ChatroomConnection"
    connectionString="Server=tcp:dotnetim.database.windows.net,1433;database=sql;Persist Security Info=False;User ID=(inputYourUserName);Password=(inputYourPassword);MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
    providerName="System.data.SqlClient"/>
  </connectionStrings>
</configuration>